@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --text: #ebe5e5;
    --background: #0C0C0C;
    --primary: #F2613F;
    --secondary: #481E14;
    --accent: #9B3922;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #0C0C0C;
    color: #ebe5e5;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}